.gradle/
build/

*.jar
!*/gradle/wrapper/*.jar
*.class

*.iml
*.ipr
*.iws
.idea/
out/

.idea/
out/

.DS_Store
*~

upload-archives/artifactory/artifactory/home/backup/
upload-archives/artifactory/artifactory/home/data/
upload-archives/artifactory/artifactory/home/logs/

upload-archives/artifactory/postgres/home/backup/
upload-archives/artifactory/postgres/home/data/
upload-archives/artifactory/postgres/home/logs/

!upload-archives/artifactory/artifactory/home/backup/.gitkeep
!upload-archives/artifactory/artifactory/home/data/.gitkeep
!upload-archives/artifactory/artifactory/home/logs/.gitkeep

!upload-archives/artifactory/postgres/home/backup/.gitkeep
!upload-archives/artifactory/postgres/home/data/.gitkeep
!upload-archives/artifactory/postgres/home/logs/.gitkeep

memo.txt

codic.properties

caches/

distributed-test/distributed/src/test/java/sample/tests/**/*.java
!distributed-test/distributed/src/test/java/sample/tests/.gitkeep

jigbuild/

g3-mod-api/jigsaw-jdk-bin-macosx-x86_64.tar.gz
