gradle:
  image: gradle-dist-test
  volumes:
    - ../dist-test:/home/gradle/project/build/dist-test
    - ../../../caches/modules-2/files-2.1:/home/gradle/.gradle/caches/modules-2/files-2.1
    - ../../../caches/modules-2/metadata-2.15:/home/gradle/.gradle/caches/modules-2/metadata-2.15
  command: gradle ${taskName} --stacktrace --info
